b {
  font-size: 20px;
}

#score {
  font-size: 40px;
  font-weight: bold;
}

.alert {
  color: red;
  font-weight: bold;
}

button {
  background-color: red;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  min-height: 60px;
}

.dice {
  padding: 4px;
  background-color: white;
  width: 104px;
  height: 104px;
  border: black solid 4px;
  border-radius: 10%;
}

.dot {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: black;
}

.first-dice {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dot-2-1 {
  display: flex;
  position: absolute;
}

#dot-2-2 {
  display: flex;
  position: relative;
  margin-left: 80px;
  margin-top: 80px;
}

#dot-3-1 {
  display: flex;
  position: absolute;
}

#dot-3-2 {
  display: flex;
  position: relative;
  margin-left: 40px;
  margin-top: 40px;
}

#dot-3-3 {
  display: flex;
  position: fixed;
  margin-left: 80px;
  margin-top: 15px;
}
